@charset "UTF-8";

/*Mobile First*/

*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.0em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.671);
}

html{
    height: 100vh;
}

body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main{
    background-color: rgba(255, 255, 255, 0.842);
    width: 400px;
    margin: auto;
    border-radius: 8px;
    padding: 10px;
    margin-top: 25px;
}

h1{
    text-align: center;
    color: snow;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.589);
    font-size: 2em;
}

img#phone,#tablet,#print,#tv,#pc{
    display: none;
    margin: auto;
}

img#phone{
    display: block;
}

main::after{
    content: 'Está é a versão do site para smartphones :)';
    text-align: center;
    font-size: 1.1em;
}